
.wrapper{
    display: flex;
    height: 15vh;
    background-color: darkblue;
    opacity: 0.7;
    color: white;
    align-items: center;
    justify-content: space-center;
}

app-menu {
    width: 100%;
}


