<mat-card class="card">
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{author}} - {{date}}</mat-card-subtitle>
    <img *ngIf="image" mat-card-image src="../../../../assets/image/{{image}}" alt="img">
    <mat-card-content>{{content}}</mat-card-content>
    <mat-card-actions class="menu-card">
        <div>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </div>
        <div>
            <button mat-button (click)="openDialog()">EDIT</button>
        <button mat-button (click)="articlesController.deleteArticle(index);">DELETE</button> 
        </div> 
    </mat-card-actions>
</mat-card> 