<mat-nav-list>
    <a [routerLink]="'/'" class={{homeActive}}
        (click)="homeActive='active';eventsActive='';galleryActive='';articlesActive=''">HOME</a>
    <a [routerLink]="'/events'" class={{eventsActive}}
        (click)="eventsActive='active';homeActive='';galleryActive='';articlesActive=''">EVENTS</a>
    <a [routerLink]="'/gallery'" class={{galleryActive}}
        (click)="galleryActive='active';homeActive='';eventsActive='';articlesActive=''">GALLERY</a>
    <a [routerLink]="'/articles'" class={{articlesActive}}
        (click)="articlesActive='active';homeActive='';galleryActive='';eventsActive=''">ARTICLES</a>
</mat-nav-list>