<div class="wrapper">
  <mat-card class="card">
    <button mat-button (click)="openDialog()">+ ADD NEW ARTICLE</button>
    <div class="menu">
      <button (click)='articlesController.sortArticles()' mat-button>SORT</button>
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="searchText"  placeholder="Filter by Title of Articles" />
      </mat-form-field>
    </div>
  </mat-card>
  <div class='list'>
    <div *ngFor="let article of articles | paginate: { itemsPerPage: 5, currentPage: p } | filter : searchText, let i = index">
      <app-article [article]="article" [index]="i"></app-article>
    </div>
    <div class="paginator">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div> 
</div>  