<div class="wrapper">
  <mat-card *ngIf="isAuthorization()" class="card">
    <button mat-button (click)="openDialog()">+ ADD NEW ARTICLE</button>
    <div class="menu">
      <button mat-button>SORT</button>
      <button mat-button>FILTER</button>
    </div>
  </mat-card>
  <div class='list'>
    <div *ngFor="let article of articles | paginate: { itemsPerPage: 5, currentPage: p }, let i = index">
      <app-article [title]="article.title" [author]="article.author" [date]="article.date" [image]="article.image"
        [content]="article.content" [index]='i'></app-article>
    </div>
    <div class="paginator">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>