<div class="wrapper">
  <mat-card class="card">
    <button mat-button (click)="openDialog()">ADD NEW ARTICLE</button>
    <div class="menu">
      <button mat-button>SORT</button>
      <button mat-button>FILTER</button>
      <app-paginator></app-paginator>
    </div>
  </mat-card>
  <div class='list'>
    <div *ngFor="let article of articles">
      <app-article [title]="article.title" [author]="article.author" [date]="article.date" [image]='article.image'
        [content]='article.content'></app-article>
    </div>
  </div>
</div>