<div class="wrapper">
  <div class="login-container">
    <h1>Login</h1>
    <form class="login-form" [formGroup]="form.formGroup" (ngSubmit)="onSubmit(form.formGroup)">
      <mat-form-field>
        <label>
          <input type="text" matInput placeholder="Email" formControlName="email">
        </label>
      </mat-form-field>
      <mat-form-field>
        <label>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </label>
      </mat-form-field>
      <div> 
        <button mat-raised-button color="primary" [disabled]="form.formGroup.invalid">Login</button>
        <a routerLink="/register" class="register">Register</a>
      </div>
    </form>
  </div>
</div>