<div class="wrapper">
    <div class="container">
        <div class="row">
          <div class="col">
            <app-line-chart></app-line-chart>
          </div>
          <div class="col">
            <app-bubble-chart></app-bubble-chart>
          </div>
          <div class="col">
            <app-histogram-chart></app-histogram-chart>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-candlestick-chart></app-candlestick-chart>
          </div>
          <div class="col">
            <app-pie-chart></app-pie-chart>
          </div>
          <div class="col">
            <app-sankey-charts></app-sankey-charts>
          </div>
        </div>
      </div>
</div>
